:root {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark_cyan: hsl(179, 100%, 13%);
    --transparent_white: hsla(0, 0%, 100%, 0.75);
    --light_grey: hsl(0, 0%, 95%);
    --white: #fff;
    --black: #000;
}
body {
    background-color: var(--light_grey);
    margin: 6rem 0rem 6rem 0rem;
}

img {
    padding-top: 3rem;
    padding-left: 2rem;
}

p {
    font-family: "Lexend Deca", sans-serif;
    color: var(--light_grey);
    color: var(--transparent_white);
}
h2 {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
}

p, h2 {
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

button {
    border: none;
    border-radius: 30px;
    width: 145px;
    height: 45px;
    background-color: var(--white);
    margin: 1rem 2rem 3rem 2rem;
    color: var(--black);
}

main {
    border-radius: 10px;
    overflow: hidden;
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 1fr;
}

.sedans {
    background-color: var(--orange);
    --black: var(--orange);
}

.suvs {
    background-color: var(--cyan);
    --black: var(--cyan);
}

.luxury {
    background-color: var(--dark_cyan);
    --black: var(--dark_cyan);
}

/*styling for screens 376px - 1440px */
@media (min-width:376px) and (max-width:1440px) {
    body {
        margin: 8rem 12.5rem 8rem 12.5rem;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
        margin: 3rem 4rem 0rem 3rem;
    }
    button {
        margin-top: 4rem;
    }
    p {
        padding-right: 3rem;
    }
}