:root {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark_cyan: hsl(179, 100%, 13%);
    --transparent_white: hsla(0, 0%, 100%, 0.75);
    --light_grey: hsl(0, 0%, 95%);
    --white: #fff;
    --black: #000;
}

/* Reset */
*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--light_grey);
}

p {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    color: var(--light_grey);
    color: var(--transparent_white);
    line-height: 25px;
}
h1 {
    color: var(--white);
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

button {
    background-color: var(--white);
    border: none;
    border-radius: 25px;
    color: var(--black);
    font-size: 15px;
    width: 146px;
    height: 48px;
}

button:hover {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
}

main {
    align-items: center;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 327px;
    overflow: hidden;
    
}

.sedans, .suvs, .luxury {
    align-items: center;
    display:grid;
    height: 442px;
    justify-content: center;
    padding: 48px;
}

.sedans {
    background-color: var(--orange);
    --black: var(--orange);
}

.suvs {
    background-color: var(--cyan);
    --black: var(--cyan);
    
}

.luxury {
    background-color: var(--dark_cyan);
    --black: var(--dark_cyan);
}

/*styling for screens 1089px and up */
@media (min-width: 1089px) {
    body {
        align-items: center;
        display: grid;
        justify-content: center;
        height: 100vh;

    }
    main {
        border-radius: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 920px;
        overflow: hidden;
        margin: 0;
    }
    h1 {
        line-height: 48px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    p {
        margin-bottom: 75px;
    }
    
    .sedans, .suvs, .luxury {
        height: 500px;
    }

}